@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: var(--color-primary);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
}

:root {
  --color-primary: #f59e0b;
  /* Amber 500 */
  --color-background: #18181b;
  /* Zinc 900 */
  --color-surface: #27272a;
  /* Zinc 800 */
}

body {
  background-color: var(--color-background);
  color: white;
}